<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <p><span> Create your question </span></p>
      <%= simple_form_for [ @quiz, @question ] do |f| %>
              <%= f.input :statement %>
              <%= f.input :score, collection: 0..10 %>
              <%= f.submit :Next, class: 'btn btn-secondary  ' %>
            <% end %>

    </div>
  </div>
</div>
