  <%= render 'shared/navbar' %>
  <% if current_user.teacher_role? %>
    <div class="container mt-5">
      <div class="banner_teacher" style='background-image: url(app/assets/images/teacherbanner.jpg)'>
        <h1> Welcome, <%= current_user.name %> to your dashboard </h1>
      </div>
      <div class="row"> Here are your tests</div>
      <%# @quiz.each do |quiz|%>
       <section class="card-section mt-5">
                <div class="card">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--quiz">
                                <h2 class="card-front__heading">
                                Quiz name
                                </h2>
                            </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--quiz">
                                        View me
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                  </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--quiz">
                                Math test
                            </h3>
                            <p class="inside-page__text">
                               Token: XXXX
                               Number of answers: XXX
                            </p>
                            <a href="#" class="inside-page__btn inside-page__btn--quiz">View details</a>
                        </div>
                    </div>
                </div>
            </section>
            <%= link_to "Create a new test", new_quiz_path, class:"btn btn-primary" %>
</div>
        <% else %>
          <h2> STUDENT <h2>
        <% end %>
