<div class="banner" id="mysite" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(app/assets/images/background_home.jpg)">
  <div class="container">
    <%= image_tag 'logo.png', class: "img-fluid" %>
    <p><%= link_to 'I\'m a teacher', localhost:3000 %>
    <%= link_to 'I\'m a student', localhost:3000 %></p>
  </div>
</div>
