<div class="banner" id="mysite" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddxlnxcu5/image/upload/v1653482325/production/wp2151561-bookshelf-wallpapers_pvergg.jpg)">
  <div class="container">
    <%= image_tag 'logo.png', class: "img-fluid" %>

    <div class="btn-container">
      <p><%= link_to 'I\'m a teacher', new_user_session_path %></p>
      <p><%= link_to 'I\'m a student', new_user_session_path %></p>
    </div>
  </div>
</div>
