.test-btn {
  text-decoration: none;
  background-color: #0f3d5e;
  border: 2px solid #0f3d5e;
  color: white;
  border-radius: 40px;
  transition-duration: 0.4s;
  font-size: 15px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
  margin-left: 0
}
