.navbar-lewagon {
  justify-content: space-between;
  background: rgb(224, 224, 224);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 0;
  width: 80px;
}
