.navbar-lewagon {
  justify-content: space-between;
  background: rgb(223, 222, 222);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 20px;
  width: 70px;

}
